@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
@import "base/variables";

// convert px to rem
@function toRem($value) {
	$remValue: math.div($value, 16) + rem;
	@return $remValue;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: $barlow;
	font-size: toRem(18);
}

a {
	text-decoration: none;
}

nav {
	ul {
		list-style-type: none;
	}
}

img {
	display: block;
	width: 100%;
	object-position: center;
	object-fit: cover;
}

button {
	display: block;
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

// ---------------------------------------
// Header
header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: toRem(30) toRem(25);
}

.header-logo {
	width: toRem(150);
	cursor: pointer;
}

.header-nav {
	position: absolute;
	left: toRem(25);
	right: toRem(25);
	top: toRem(150);
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	background: $white;
	text-align: center;
	padding: toRem(40) toRem(0);
	transition: 0.5s ease;
	transform: translate(0, toRem(-500));
	z-index: 2;

	&.display {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}

	&::before {
		content: "";
		position: absolute;
		top: toRem(-40);
		right: 0;
		border-left: toRem(40) solid transparent;
		border-bottom: toRem(40) solid white;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: toRem(40);

		a {
			font-size: toRem(22.5);
			color: $darkGrayishBlue;
		}

		li:last-child {
			font-family: $fraunces;
			padding: toRem(20) toRem(30);
			border-radius: toRem(50);
			background-color: $yellow;
			cursor: pointer;

			&:hover {
				background-color: #6eceff;
				a {
					color: $white;
				}
			}

			a {
				color: $veryDarkDesaturatedBlue;
				text-transform: uppercase;
			}
		}
	}
}

.menuBtn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: toRem(50);
	height: toRem(80);
	cursor: pointer;
	transform: scale(0.8);
	transition: all 0.5s ease-in-out;

	// ANIMATION
	&.open .menuBtn__burger {
		transform: translateX(toRem(-50));
		background-color: transparent;
		box-shadow: none;

		&::before {
			transform: rotate(45deg) translate(toRem(35), toRem(-35));
		}

		&::after {
			transform: rotate(-45deg) translate(toRem(35), toRem(35));
		}
	}
}

.menuBtn__burger {
	width: toRem(50);
	height: toRem(6);
	background-color: $white;
	border-radius: toRem(5);
	box-shadow: 0 toRem(2) toRem(5) rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: toRem(50);
		height: toRem(6);
		background-color: $white;
		border-radius: toRem(5);
		box-shadow: 0 toRem(2) toRem(5) rgba(255, 101, 47, 0.2);
		transition: all 0.5s ease-in-out;
	}

	&::before {
		transform: translateY(toRem(-16));
	}

	&::after {
		transform: translateY(toRem(16));
	}
}

// ---------------------------------------
// Main
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url("/images/mobile/image-header.jpg");
	background-position: center;
	background-size: cover;

	h1 {
		font-family: $fraunces;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: toRem(7.5);
		word-break: break-word;
		margin: 0 toRem(10);
		margin-bottom: toRem(60);
		font-weight: 900;
		font-size: toRem(40);
	}
}

.arrow-down {
	height: toRem(150);
	width: auto;
}

// ---------------------------------------
// Section
.section--articles {
	display: grid;
	justify-items: center;
	align-items: center;

	article {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		line-height: toRem(30);
		width: 100%;
		max-width: toRem(450);
		padding: toRem(60) toRem(20);
		gap: toRem(30);

		h2 {
			font-family: $fraunces;
			line-height: toRem(45);
		}
	}

	> article {
		max-width: toRem(500);
		h2 {
			font-size: toRem(35);
			color: $veryDarkDesaturatedBlue;
		}

		p {
			color: $darkGrayishBlue;
		}

		button {
			position: relative;
			font-family: $fraunces;
			font-size: toRem(17);
			text-transform: uppercase;

			&::after {
				content: "";
				position: absolute;
				bottom: toRem(-3.5);
				left: toRem(-7.5);
				right: toRem(-7.5);
				height: toRem(10);
				border-radius: toRem(7);
				z-index: -1;
			}
		}
	}

	> div {
		position: relative;

		&:nth-of-type(1) {
			width: 100%;
			color: $darkDesaturatedCyan;
		}

		&:nth-of-type(2) {
			width: 100%;
			color: $darkBlue;
		}

		> article {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}
	}
}

.btn--yellow::after {
	background-color: hsla(51, 100%, 49%, 0.25);
}

.btn--yellow:hover {
	&::after {
		background-color: $yellow;
	}
}

.btn--pink::after {
	background-color: hsla(7, 99%, 70%, 0.25);
}

.btn--pink:hover {
	&::after {
		background-color: $softRed;
	}
}

.section--testimonials {
	padding: toRem(60) toRem(30);

	> h3 {
		font-family: $fraunces;
		color: $grayishBlue;
		letter-spacing: toRem(5);
		font-size: toRem(18);
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 3.5rem;
	}
}

.testimonials {
	display: grid;
	gap: 4rem;
}

.testimonial {
	display: flex;
	flex-direction: column;
	align-items: center;

	img,
	p {
		margin-bottom: toRem(40);
	}

	p {
		text-align: center;
		color: $veryDarkGrayishBlue;
		line-height: toRem(35);
		width: 100%;
		max-width: toRem(350);
	}

	h3 {
		font-family: $fraunces;
		color: $veryDarkDesaturatedBlue;
		margin-bottom: toRem(15);
	}

	h4 {
		color: $grayishBlue;
		font-size: toRem(16);
	}
}

.profileImg {
	width: toRem(70);
	height: toRem(70);
	border-radius: 50%;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

// ---------------------------------------
// Footer
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: toRem(60) toRem(30) toRem(30) toRem(30);
	background-color: $darkModerateCyan;

	nav {
		max-width: toRem(375);
		width: 100%;
		ul {
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;

			li a {
				color: $darkDesaturatedCyan;

				&:hover {
					color: $white;
				}
			}
		}
	}
}

.footer-logo {
	width: toRem(175);
	margin-bottom: toRem(40);
	cursor: pointer;
	filter: invert(28%) sepia(5%) saturate(4119%) hue-rotate(116deg)
		brightness(30%) contrast(85%);
}

.socials {
	display: flex;
	margin-top: toRem(80);
	gap: toRem(30);
}

.social {
	width: auto;
	filter: brightness(50%);

	&:hover {
		filter: brightness(0) invert(1);
	}
}

// ---------------------------------------
// MEDIA QUERIES
@media (min-width: 600px) {
	main {
		background-image: url("/images/desktop/image-header.jpg");
	}
}

@media (min-width: 750px) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

@media (min-width: 800px) {
	.menuBtn {
		display: none;
	}

	.header-nav {
		position: static;
		background: transparent;
		padding: toRem(0);
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
		z-index: 2;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			border: 0;
		}

		ul {
			flex-direction: row;
			align-items: center;
			gap: toRem(40);

			a {
				font-size: toRem(22.5);
				color: $white;
			}

			li:last-child {
				font-family: $fraunces;
				padding: toRem(20) toRem(30);
				border-radius: toRem(50);
				background-color: $white;

				a {
					color: $veryDarkDesaturatedBlue;
					text-transform: uppercase;
				}
			}
		}
	}

	.section--articles {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);

		article {
			padding: toRem(10) toRem(20);
		}

		> article {
			text-align: left;
			align-items: flex-start;
		}

		> article:nth-of-type(1) {
			order: 1;
		}

		> article:nth-of-type(2) {
			order: 4;
		}

		> div:nth-of-type(1) {
			order: 5;
		}

		> div:nth-of-type(2) {
			order: 6;
		}
	}

	.img--egg {
		order: 2;
	}

	.img--pinkCup {
		order: 3;
	}
}

@media (min-width: 1000px) {
	.section--testimonials {
		padding: toRem(120) toRem(30);
	}

	.testimonials {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}

@media (min-width: 1200px) {
	.section--articles {
		article {
			padding: toRem(0) toRem(20) toRem(40) toRem(20);
		}
	}
}
